prenatal-ia/n8n-workflows/prenatal-alert-webhook.json
{
  "name": "Prenatal Alert - Receber alertas do prenatal-ia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prenatal-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook prenatal-alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "prenatal-alert"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "set-node",
      "name": "Log Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"patientId\": $json.patientId, \"alertsCount\": $json.alerts ? $json.alerts.length : 0 } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook prenatal-alert": {
      "main": [
        [
          {
            "node": "Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Payload": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-31T00:00:00.000Z",
  "versionId": "1"
}
