prenatal-ia/n8n-workflows/prenatal-alert-webhook.json
{
  "name": "Prenatal Alert - Receber e notificar alertas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prenatal-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook prenatal-alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "prenatal-alert"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst alerts = input.alerts || [];\nconst patientAlerts = alerts.filter(a => a.target === 'PATIENT');\nconst professionalAlerts = alerts.filter(a => a.target === 'PROFESSIONAL');\nconst patientEmail = (input.patientEmail && String(input.patientEmail).trim()) || '';\nconst hasValidPatientEmail = patientEmail.length > 0;\nreturn [{\n  json: {\n    ...input,\n    patientAlerts,\n    professionalAlerts,\n    hasPatientAlerts: patientAlerts.length > 0,\n    hasProfessionalAlerts: professionalAlerts.length > 0,\n    hasValidPatientEmail,\n    patientMessage: patientAlerts.map(a => `• ${a.message}`).join('\\n'),\n    professionalMessage: professionalAlerts.map(a => `• ${a.message} [${a.severity}]`).join('\\n')\n  }\n}];"
      },
      "id": "code-node",
      "name": "Classificar alertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-patient",
              "leftValue": "={{ $json.hasPatientAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-patient-email",
              "leftValue": "={{ $json.hasValidPatientEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-patient-node",
      "name": "Tem alerta para gestante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_EMAIL }}",
        "toEmail": "={{ $json.patientEmail }}",
        "subject": "=Exame importante do pré-natal pendente - {{ $json.patientName }}",
        "emailFormat": "text",
        "text": "=Olá {{ $json.patientName }},\n\nIdentificamos pendências no seu acompanhamento pré-natal ({{ $json.gestationalWeeks }}ª semana):\n\n{{ $json.patientMessage }}\n\nProcure sua unidade de saúde para agendar os procedimentos.\n\n— Prenatal Digital SUS"
      },
      "id": "email-patient-node",
      "name": "Email para gestante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 100],
      "credentials": { "smtp": { "name": "smtp" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-professional",
              "leftValue": "={{ $json.hasProfessionalAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-professional-node",
      "name": "Tem alerta para profissional?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_EMAIL }}",
        "toEmail": "={{ $env.SMTP_EMAIL }}",
        "subject": "=Alerta pré-natal - {{ $json.patientName }} ({{ $json.patientId }})",
        "emailFormat": "text",
        "text": "=Alerta clínico - gestante {{ $json.patientName }} ({{ $json.gestationalWeeks }}ª semana):\n\n{{ $json.professionalMessage }}\n\nAção recomendada: verificar prontuário e contatar a gestante.\n\n— Prenatal Digital SUS"
      },
      "id": "email-professional-node",
      "name": "Email para profissional",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 500],
      "credentials": { "smtp": { "name": "smtp" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"patientId\": $json.patientId, \"alertsCount\": ($json.alerts || []).length, \"patientNotified\": $json.hasPatientAlerts, \"professionalNotified\": $json.hasProfessionalAlerts } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook prenatal-alert": {
      "main": [
        [
          {
            "node": "Classificar alertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar alertas": {
      "main": [
        [
          {
            "node": "Tem alerta para gestante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem alerta para gestante?": {
      "main": [
        [
          {
            "node": "Email para gestante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem alerta para profissional?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email para gestante": {
      "main": [
        [
          {
            "node": "Tem alerta para profissional?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem alerta para profissional?": {
      "main": [
        [
          {
            "node": "Email para profissional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email para profissional": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-31T00:00:00.000Z",
  "versionId": "2"
}
